<div class="container">
    <div class="row ">
                <div class="col-3 font-weight-bold"><label>Recherche par nom :</label></div>
                <div class="col-6"><input type="text" class="form-control" value="Peyras" #nom></div>
               <div class="col-3"> <button class="btn btn-primary " (click)="afficherRecherche(nom.value)">Rechercher</button></div>
    </div>

    <div class="text-danger font-weight-bold" *ngIf="tabVide ===1;">
        Pas de collègue à ce nom, veuillez vérifier la saisie. 
    </div>

    <div class="row justify-content-md-center" *ngIf="affichage;else affichage">
       
        <ul class="list-group col-8  text-center pt-3 ">
            <a href="#"class="list-group-item list-group-item-action" *ngFor="let mat of tabMats" (click)="recupererCollegueCourant(mat)">
                {{mat}}
            </a>
        </ul>
    </div>
    <ng-template #affichage></ng-template>
</div>

